<div id="snaps" class="transitions-enabled">

  <% obj.each do |snap| %>
    <div class="box panel panel-default text-body">

      <div class="panel-heading" style="text-align:center">
       <h3> <%= snap.title %> </h3>
      </div>
       <div class="panel-body" style="">
      
     
        <h4><%= snap.description %></h4>
        <div  style="text-align:center"><p><h5><%= link_to "Adden", "https://www.snapchat.com/add/#{snap.link}" %></h5></p></div>

        <% if snap.categories.any? %>
          <h6><%= render snap.categories %></h6>
        <% end %>



        
        <% if snap.admin = current_admin %>
          <div class="actions">
            <%= link_to edit_snap_path(snap) do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>
            <%= link_to snap, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
        
      </div>
    </div>
  <% end %>
    
</div>